#!/bin/sh
export DOCKER_HOST=
export FORGE_ADMIN_LOGIN=
export FORGE_ADMIN_PASSWORD=
export FORGE_ADMIN_EMAIL=
export NEXUS_ADMIN_LOGIN=
export NEXUS_ADMIN_PASSWORD=
export NEXUS_JENKINS_LOGIN=
export NEXUS_JENKINS_PASSWORD=
export NEXUS_JENKINS_EMAIL=${FORGE_ADMIN_EMAIL}
